@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer components {
  .button {
      @apply px-4 py-2 md:px-1 md:py-5 font-extrabold text-2xl text-teal-500 border rounded-full cursor-pointer 
      hover:shadow-lg active:scale-95 active:bg-teal-500 active:text-white transition 
      transform duration-100 ease-out;
  }
  b{
    @apply w-full block py-5 px-3 text-center hover:bg-teal-100 text-teal-900  rounded-t-full hover:rounded-t-xl md:hover:rounded-t-full  transition 
    transform duration-100 ease-out;  
  }
  .footer-icon {
    @apply font-noto md:w-8 md:h-8 mb-2 mx-auto text-teal-600  w-6 h-6;
  }
  .main {
    @apply mx-auto px-8 sm:px-16 bg-teal-50;
  }
}


